﻿@model IEnumerable<ECommerce_v1._01.Models.Product>

@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>SearchProduct</h2>
@using (Html.BeginForm("SearchResults","Product", FormMethod.Get))
{
   @Html.TextBox("Search")
   <input type="submit" value="Search" />
}
<br/>

