﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "index")</li>
            <li>@Html.ActionLink("Search", "SearchProduct")</li>
            <li>@Html.ActionLink("Cloth For Men", "MenPage")</li>
            <li>@Html.ActionLink("Cloth For Women", "WomenPage")</li>
            <li>@Html.ActionLink("Cloth For Kids", "KidsPage")</li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

